<form class="user_comment" action="<%= url %>" method="post">
  <%= auth_input %>
  <label>Comment
  <textarea name="comment[body]" rows="8" cols="40"></textarea></label>
  <input type="submit" value="Submit">
</form>
